**/.classpath
**/.project
**/.settings
**/bin/
**/target/
**/.eclipse-pmd
**/.pmd
**/.pmdruleset.xml
**/NOTES.txt
*.iml
.checkstyle
.idea
.mvn

.~lock*
*.kate-swp
.m2-local-repo/**/*.jar
.m2-local-repo/**/*.pom
src/test/eclipse/
