name: Build with JDK 11 on Ubuntu

on:
    push:
        branches:
        - master
    pull_request:

        branches:
        - master

jobs:

    build:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -   name: Set up JDK 11
            uses: actions/setup-java@v3
            with:
                java-version: '11'
                distribution: temurin
                cache: maven
        -   name: Build with Maven/JDK 11
            run: mvn -B clean verify --file pom.xml
